html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.95);

  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

button {
  all: unset;
  font-family: Jua;
  cursor: pointer;
}

.container {
  width: 541px;
  border-radius: 16px;
  background: #fff;
  text-align: center;
}

h1 {
  color: #000;
  font-size: 64px;
  font-family: Jua;
}

.message {
  font-family: Jua;
}
.add-form {
  position: relative;
}
.add-form input {
  width: 333px;
  padding: 15px;
  border-radius: 8px;
  font-family: Jua;
}

.add-form button {
  position: absolute;
  right: 100px;
  top: 8px;
}

.task-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.task-list .line {
  width: 364.001px;
  height: 1px;
  background: #8c8c8c;
}

.task {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 364.001px;
  position: relative;
  font-family: Inika;
  font-size: 16px;
  font-weight: 700;
}

.delete-form button {
  position: absolute;
  right: 10px;
  top: 16px;
}
